{
    "n_mfcc": 13,
    "sample_rate": 16000,
    "n_fft": 480,
    "hop_length": 160,
    "use_deltas": true,
    "normalize_features": true,
    "embedding_dim": 256,
    "n_convolutions": 2,
    "kernel_size": 5,
    "stride": 2,
    "n_head": 2,
    "num_encoder_layers": 2,
    "num_decoder_layers": 4,
    "dim_feedforward": 512,
    "dropout": 0.1,
    "positional_encoding": true,
    "max_src_len": null,
    "max_tgt_len": null
}
